/* -----------------------
   GLOBAL RESET
------------------------ */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

iframe {
  aspect-ratio: 16/9;
  width: 100%;
}

/* -----------------------
   BEFORE / AFTER SLIDER
------------------------ */

.main {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  display: grid;
  place-content: center;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  width: 800px;
  height: 800px;
  --position: 50%;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.sliderImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  position: absolute;
  inset: 0;
}

.imageBefore {
  width: var(--position);
  filter: grayscale(100%);
  overflow: hidden;
}

.slider {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

.sliderLine {
  position: absolute;
  inset: 0;
  width: 0.25rem;
  height: 100%;
  background-color: white;
  left: var(--position);
  transform: translateX(-50%);
  pointer-events: none;
}

.sliderButton {
  position: absolute;
  background-color: white;
  color: black;
  padding: 0.6rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  top: 50%;
  left: var(--position);
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
